/* Default styles */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img, object, video, iframe {
  max-width: 100%;
}

header, section, footer, aside, nav, main, article, figure {
  display: block;
}

/* custom styles */

html, body {
  font-size: 16px;
  color: #333;
  font-weight: 300;
  line-height: 1.6;
  overflow-x: hidden;
  background: #4a8b6a;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
}

h1 {
  font-size: 2em;
}

section, nav {
  padding: 2em 1em;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: underline;
}

/* navigation */

nav {
  display: flex;
  background: #356c50;
  border-bottom: 1px solid #333;
}

nav .item {
  display: block;
  padding: 0.5em 1em;
  color: #fff;
  background: #69A5A4;
  border: 1px solid #69A5A4;
  border-radius: 5px;
  opacity: 1;
}

nav .item:hover {
  opacity: 0.8;
}

nav {
  width: 100%;
}

nav ul {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

nav ul li {
  flex-direction: row;
}

nav ul li:first-child {
  margin-right: 1em;
}

.content {
  width: 17em;
  margin: 0 auto;
  background: #fff;
  margin-top: 2em;
}

@media (min-width: 50em) {
  .content {
    width: 21em;
  }
}

.content .view {
  display: block;
}

.content .hide {
  display: none;
}

